<div class='background'>
    <div class="terminal">
        <div class="terminal-window">
            <span><img class='tab-icons' src='../../../assets/images/minimize.png'></span>
             <span><img class='tab-icons' src='../../../assets/images/maximize.png'></span>
            <span><img class='tab-icons' src='../../../assets/images/close.png'></span>
        </div>
        <div class="terminal-tab"><label>Terminal</label><label class="hover">x</label></div>
        <div class="text-box">
            <span id="first-line" class="typed-text"><!-- content will be typed here --></span>
            <span id="second-line" class="typed-text"><!-- content will be typed here --></span>
        </div>
    </div>
</div>

