.background {
    background-image: url('../../../assets/images/screen.jpg'); 
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    left: 0;
    top: 0;
}

/********* backdrop & loading bar *********/

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: 9;
}

.loading-bar {
    width: fit-content;
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.progress-bar {
    width:700px;
    height:25px;
    border: 4px solid #101010;
     background:
     repeating-linear-gradient(
      150deg,
      #ffffffa3 0 5px,
      #101010 0 10px) 0/0% no-repeat,
    repeating-linear-gradient(
      150deg,
      #2e2e2e 0 5px,
      #101010 0 10px) 0/100%;
    animation:progress 3s forwards;
  }
  @keyframes progress {
      100% {background-size:100%}
  }


.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}


/********* shared container classes *********/

.container {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--primary-color);
    cursor: move;
    z-index: 0;
    animation: fadeIn 1s forwards;
}

.container-title {
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 1rem;
    color: var(--secondary-color);
    width: 100%;
    height: 2rem;
    line-height: 1.8rem;
    border-bottom: 0.5px solid var(--secondary-color);
    padding: 0 8px;
}

.content {
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 99%;
    border: 0.5px solid var(--secondary-color);
}

.bold {
    font-weight: bold;
}

.list-item {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    color: var(--secondary-color);
    border: 0.5px solid var(--secondary-color);
    padding: 3px 10px;
    font-size: 0.9rem;
}

.list-item a {
    height: 15px;
}

.link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.67);
}

/********* self container *********/

.self {
    width: 18rem;
    height: 21.1rem;
    top: 13vh;
    left: 24vw;
    animation-delay: 0.4s;
}

.profile-picture {
    height: 11rem;
    width: 95%;
    margin: 7px 0;
    position: relative;
    border: 0.5px solid var(--secondary-color);
    margin-inline: auto;
}

.profile-picture img {
    width: 100%;
    height: 100%;
}

.profile-list {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 95%;
    position: relative;
    margin-inline: auto;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    height: 15px;
    margin: 0 3px;
}

/********* location container *********/

.location {
    width: 13rem;
    height: 30rem;
    top: 8vh;
    left: 6vw;
    animation-delay: 0.6s;
}

.location img {
    position: relative;
    height: 28rem;
}

.location-animation {
    position: absolute !important;
    top: 165px !important;
    left: 55px !important;
    width: 50px;
    height: 50px !important;
}

/********* skills container *********/

.skills {
    width: 15rem;
    height: 10.3rem;
    top: 12vh;
    right: 5vw;
    animation-delay: 0.8s;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/********* languages container *********/

.languages {
    width: 15rem;
    height: 9.85rem;
    top: 63vh;
    right: 15vw;
    animation-delay: 1s;
}

.languages-list {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    width: 95%;
    position: relative;
    margin: 10px auto;
}

/********* courses container *********/

.courses {
    width: 20rem;
    height: 14rem;
    top: 64vh;
    left: 42vw;
    animation-delay: 1.2s;
}

.courses-list {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 95%;
    position: relative;
    margin: 10px auto;
}

/********* experience container *********/

.experience {
    width: 25rem;
    height: 6.7rem;
    top: 9vh;
    left: 48vw;
    animation-delay: 1.4s;
}

.experience-list {
    display: grid;
    grid-template-columns: 60% 13% 27%;
    width: 95%;
    position: relative;
    margin: 10px auto;
}

/********* fingerprint container *********/

.fingerprint {
    width: 10rem;
    height: 12rem;
    top: 66vh;
    left: 22vw;
    animation-delay: 1.6s;
    padding: 3px;
}

.fingerprint-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

.fingerprint-content img {
    height: 7rem;
    transform: rotate(20deg);
}

/********* audio container *********/

.audio {
    width: 30rem;
    height: 11rem;
    top: 31vh;
    right: 23vw;
    animation-delay: 1.8s;
    padding: 3px;
}

.audio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    height: 70%;
}

.audio-content img {
    height: 6rem;
}

.audio-content span {
    font-size: 0.9rem;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 1500px) {
    .background {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: fit-content;
        min-height: 100vh;
    }

    .backdrop {
        height: 100vh;
    }

    .container{
        position: relative;
    }

    .location {
        width: 10rem;
        height: 24rem;
        left: 0;
        top: 0;
        margin: 15px;
        order: 2;
    }

    .location img {
        height: 21rem;
    }

    .location-animation {
        top: 125px !important;
        left: 35px !important;
    }

    .fingerprint {
        left: 0;
        top: 0;
        width: 8rem;
        height: 10rem;
        order:5;
        margin: 15px;
    }

    .fingerprint img {
        height: 5rem;
    }

    .languages {
        left: 0;
        top: 0;
        margin: 115px 20px;
        order: 0;
    }

    .audio {
        left: 0;
        top: 0;
        width: 25rem;
        order: 6;
        margin: 20px;
    }

    .audio img {
        height: 5rem;
    }

    .skills{
        left: 0;
        top: 0;
        order: 3;
        margin: 65px 15px;
    }

    .self {
        left: 0;
        top: 0;
        margin: 30px 10px;
        order: 1;
    }

    .courses {
        left: 0;
        top: 0;
        order: 7;
        margin-bottom: 20px;
    }

    .experience {
        left: 0;
        top: 0;
        order: 4;
        margin: 0 20px;
    }
}

@media screen and (max-width: 1045px) {
    .courses {
        margin-top: -70px;
    }

    .experience {
        margin: 45px 20px;
    }
}

@media screen and (max-width: 867px) {
    .courses {
        margin-top: -70px;
    }

    .experience {
        margin: 45px 20px;
    }

    .audio {
        margin: -100px 20px 20px 20px;
    }
}

@media screen and (max-width: 778px) {
    .courses {
        margin: 20px;
    }

    .experience {
        margin: 30px;
    }

    .audio {
        margin: 20px;
    }

    .fingerprint {
        margin-top: -130px;
    }
}

@media screen and (max-width: 618px) {
    .fingerprint {
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .self, .location, .experience, .audio, .fingerprint, .courses, .skills, .languages {
        order: 0;
    }

    .fingerprint {
        margin-top: 25px;
    }

    .languages, .skills {
        margin: 20px;
    }
}

@media screen and (max-width: 499px) {
    .background {
        background-image: url('../../../assets/images/s-screen.png'); 
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .backdrop {
        height: 100vh;
    }

    .progress-bar {
        width: 70vw;
    }

    .container{
        position: relative;
    }

    .loading-bar video {
        height: 25px;
    }

    .self {
        margin: 40px;
    }

    .location {
        width: 7rem;
        height: 18rem;
        margin: 10px;
    }

    .location img {
        height: 15rem;
    }

    .location-animation {
        top: 95px !important;
        left: 17px !important;
    }

    .languages {
        width: 15rem;
        height: 10rem;
        margin:0;
    }

    .courses {
        width: 18rem;
        height: 16.2rem;
        animation-delay: 1.8s;
        margin: 25px 0;
    }

    .experience {
        width: 17rem;
        height: 8.9rem;
        animation-delay: 2s;
        margin: -90px 50px;
    }

    .experience-list {
        display: grid;
        grid-template-columns: 51% 22% 27%;
        width: 95%;
        position: relative;
        margin: 10px auto;
    }

    .skills {
        margin: 75px 60px 25px 60px;
    }

    .fingerprint {
        width: 8rem;
        height: 10rem;
        top: -13vh;
        left: 14vw;
        margin-top: 0;
    }

    .fingerprint img {
        height: 5rem;
    }

    .audio {
        width: 25rem;
    }

    .audio img {
        height: 5rem;
    }
}

@media screen and (max-width: 390px) {
    .location {
        margin: 7px; 
    }
}

@media screen and (max-width: 366px) {
    .self {
        margin: 20px;
    }

    .fingerprint {
        top: -43vh;
        left: 22vw; 
    }

    .location {
        left: -75px;
    }

    .languages {
        margin: 15px 0;
    }

    .experience {
        top: -17vh;
        margin: 0;
    }

    .skills {
        margin: -130px 60px 25px 60px;
    }
}