/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    color: var(--secondary-color);
}

:root {
    --primary-color: #273827;
    --secondary-color: #6f9c76;
}